*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/notes.txt
/app/src/main/java/edu/byu/cs/tweeter/Todo
shared/src/main/java/edu/byu/cs/tweeter/shared/Secrets.java